.comment {
    margin: 20px 0px 20px 20px;
}

/** Social Button CSS **/

.share-btn {
    display: inline-block;
    border: none;
    padding: 0.25em;
    margin-bottom: 0.5em;
    width: 2em;
    outline: none;
    text-align: center;
    font-size: 2em;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}
